.calculator__save-button {
  margin-top: 26px;
  text-align: center;
  font-size: 26px;
  color: #404040;
  border-color: #404040;
  background-color: transparent;
}

.calculator__save-button:hover {
  opacity: .6;
  cursor: pointer;
}
